# Server details:
server:
  port: 8080
  host: 0.0.0.0

# Details of the Hue bridge in your local network:
hue.bridge:
  host: HUE_BRIDGE_IP_HERE
  token: HUE_BRIDGE_API_TOKEN_HERE

# Mappings of custom light aliases to Hue bridge ids:
lights:
  office.id: 1
  livingroom.id: 2
  kitchen.id: 3
  